@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'General Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .font-display{
  font-family: 'General Sans', sans-serif;
}
.hero{
  /* background: rgb(255, 255, 255);
  background: radial-gradient(circle, #00C2FF, rgb(243, 244, 245) 100%); */
}
.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #00C2FF;
  transform: rotate(2deg);
  top: 10px;
  left: 2px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.circle-sketch-highlight{
  position:relative;
  margin: 2em 10px;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  border-width:2px;
  border-style:solid;
  border-color:black;
  position:absolute;
  border-right-color:transparent;
  width:110%;
  height:1.5em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
  animation: anime 4s linear 2s;
}
.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0.1em;
  padding:0.1em 0.25em;
  border-width:2px;
  border-style:solid;
  border-color:#00C2FF;
  
  position:absolute;
  width:105%;
  height:1.2em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}
.nav-btn-2{
  transition: transform 0.3s ease;
  display: block;
}
.nav-btn-2::after, .nav-btn-2::before{
  content:"";
  position: absolute;
  opacity: 0.3;
  background-color: black;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -10;
  transition: transform 0.3s ease;
  display: inline-block;
}
.nav-btn-2:hover{
  /* background: white; */
  transform: translate(-12px, -12px);
}
.nav-btn-2:hover::after{
  transform: translate(6px, 6px)
}
.nav-btn-2:hover::before{
  transform: translate(12px, 12px)
}

