@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Satoshi', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .font-display{
  font-family: 'Cabinet Grotesk', sans-serif;
}